Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

Update gatus homepage widget
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Add services from monitoring and networking to homepage
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/misc/nas.yaml
Labels: area/cluster, cluster/apps

Update adguard and nas homepage icons
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/misc/nas.yaml
Labels: area/cluster, cluster/apps

Homepage updates
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Add plex to homepage
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Add media services to homepage
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/lidarr/app/helm-release.yaml
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/readarr/helm-release.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Update prometheus and nas homepage
  cluster/apps/default/homepage/app/config.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/apps/networking/misc/nas.yaml
Labels: area/cluster, cluster/apps

Update homepage indentation
  cluster/apps/default/homepage/app/config.yaml
Labels: area/cluster, cluster/apps

Fix homepage identation
  cluster/apps/default/homepage/app/config.yaml
Labels: area/cluster, cluster/apps

Remove type from homepage
  cluster/apps/default/homepage/app/config.yaml
Labels: area/cluster, cluster/apps

bump homepage memory limit, change hostname
  cluster/apps/default/homepage/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Disable lidarr homepage app
  cluster/apps/media/lidarr/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update homepage memory resources
  cluster/apps/default/homepage/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Increase homepage memory limit
  cluster/apps/default/homepage/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update homepage configs
  cluster/apps/default/homepage/app/config.yaml
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
  cluster/apps/media/lidarr/app/helm-release.yaml
  cluster/apps/media/nextcloud/helm-release.yaml
  cluster/apps/productivity/actual/app/helmrelease.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Fix homepage identation
  cluster/apps/default/homepage/app/config.yaml
Labels: area/cluster, cluster/apps

Homepage updates
  cluster/apps/default/homepage/app/config.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Update homepage Downloads group
  cluster/apps/default/homepage/app/config.yaml
Labels: area/cluster, cluster/apps

Disable homepage nextcloud widget
  cluster/apps/media/nextcloud/helm-release.yaml
Labels: area/cluster, cluster/apps

Add ghostfolio
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/default/ghostfolio/app/kustomization.yaml
  cluster/apps/default/ghostfolio/app/secret.yaml
  cluster/apps/default/ghostfolio/ks.yaml
  cluster/apps/default/homepage/app/config.yaml
  cluster/apps/default/kustomization.yaml
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Fix ghostfolio file mapping
  cluster/apps/default/ghostfolio/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Add ghost to homepage
  cluster/apps/default/ghost/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update cilium lb pool definition
  cluster/apps/kube-system/cilium/app/cilium-l2.yaml
Labels: area/cluster, cluster/apps

chore(deps): upgrade flux components to v2.3.0
  cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Remove flux upgrade schedule workflow
  .github/workflows/flux-schedule.yaml
Labels: area/github

Update piped ingress annotations
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update piped image pull policy
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update arr stack env variables
  cluster/apps/media/lidarr/app/helm-release.yaml
  cluster/apps/media/lidarr/app/secret.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/secret.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/radarr/secret.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/sonarr/secret.yaml
Labels: area/cluster, cluster/apps

Add doorbell camera to frigate
  cluster/apps/home/frigate/app/config/config.yml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Update frigate doorbell config
  cluster/apps/home/frigate/app/config/config.yml
Labels: area/cluster, cluster/apps

Add lubelog
  cluster/apps/productivity/kustomization.yaml
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
  cluster/apps/productivity/lubelog/app/kustomization.yaml
  cluster/apps/productivity/lubelog/app/secret.yaml
  cluster/apps/productivity/lubelog/ks.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Remove postgre dependency from lubelog
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update lubelog pvc
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
  cluster/apps/productivity/lubelog/app/kustomization.yaml
  cluster/apps/productivity/lubelog/app/pvc.yaml
Labels: area/cluster, cluster/apps

Update lubelog ingress
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update frigate reolink doorbell config
  cluster/apps/home/frigate/app/config/config.yml
Labels: area/cluster, cluster/apps

Remove live mode from frigate config
  cluster/apps/home/frigate/app/config/config.yml
Labels: area/cluster, cluster/apps

Revert "Update frigate reolink doorbell config"
  cluster/apps/home/frigate/app/config/config.yml
Labels: area/cluster, cluster/apps

Update frigate reolink doorbell config
  cluster/apps/home/frigate/app/config/config.yml
Labels: area/cluster, cluster/apps

Add mealie
  cluster/apps/productivity/kustomization.yaml
  cluster/apps/productivity/mealie/app/helmrelease.yaml
  cluster/apps/productivity/mealie/app/kustomization.yaml
  cluster/apps/productivity/mealie/app/pvc.yaml
  cluster/apps/productivity/mealie/ks.yaml
Labels: area/cluster, cluster/apps

Update mealie config
  cluster/apps/productivity/mealie/app/kustomization.yaml
Labels: area/cluster, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*
