Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

chore: go back to sweethome jsp
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update home3d pvc
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud oidc issuer url
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: use groups for opencloud oidc
  cluster/apps/data/opencloud/app/helm-release.yaml
  cluster/apps/data/opencloud/app/resources/proxy.yaml
Labels: area/cluster, cluster/apps

chore: add opencloud idm password
  cluster/apps/data/opencloud/app/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: opencloud force update config
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud token verify method name
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: bump longhorn version
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

chore: add offline scope to headlamp
  cluster/apps/default/headlamp/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update ansible api server config
  provision/ansible/inventory/group_vars/master/k3s.yml
Labels: none

chore: update outline command args
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: drop args from outline
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: rename calibre downloader to shelfmark
  cluster/apps/media/calibre-web-automated/config-pvc.yaml
  cluster/apps/media/calibre-web-automated/helm-release.yaml
  cluster/apps/media/calibre-web-automated/ks.yaml
  cluster/apps/media/calibre-web-automated/kustomization.yaml
  cluster/apps/media/calibre-web-automated/ocirepository.yaml
  cluster/apps/media/calibre/ks.yaml
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/shelfmark/helm-release.yaml
  cluster/apps/media/shelfmark/ks.yaml
  cluster/apps/media/shelfmark/kustomization.yaml
  cluster/apps/media/shelfmark/ocirepository.yaml
Labels: area/cluster, cluster/apps

chore: fix shelfmark and calibre paths
  cluster/apps/media/calibre-web-automated/app/config-pvc.yaml
  cluster/apps/media/calibre-web-automated/app/helm-release.yaml
  cluster/apps/media/calibre-web-automated/app/kustomization.yaml
  cluster/apps/media/calibre-web-automated/app/ocirepository.yaml
  cluster/apps/media/calibre-web-automated/ks.yaml
  cluster/apps/media/shelfmark/app/helm-release.yaml
  cluster/apps/media/shelfmark/app/kustomization.yaml
  cluster/apps/media/shelfmark/app/ocirepository.yaml
  cluster/apps/media/shelfmark/ks.yaml
Labels: area/cluster, cluster/apps

chore: fix shelfmark permissions
  cluster/apps/media/shelfmark/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: fix soulsync mount paths
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: bump soulsync image
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: add renovate annotation for cilium
  cluster/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update renovate config
  .github/renovate/customManagers.json5
  .github/renovate/groups.json5
Labels: area/github

chore: small renovate updates
  cluster/apps/data/harbor/mutating-webhook/helm-release.yaml
  cluster/apps/data/mariadb/app/helm-release.yaml
Labels: area/cluster, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*
