Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*

Downgrade longhorn again
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

chore: fix calibre service identifiers
  cluster/apps/media/calibre/calibre-downloader/helm-release.yaml
  cluster/apps/media/calibre/calibre-web-automated/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update calibre downloader lang
  cluster/apps/media/calibre/calibre-downloader/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update calibre downloader liveness probe
  cluster/apps/media/calibre/calibre-downloader/helm-release.yaml
Labels: area/cluster, cluster/apps

feat: enable opencloud
  cluster/apps/data/kustomization.yaml
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud permissions
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: remove non root from opencloud
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud fsgroup
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

feat: add it-tools
  cluster/apps/productivity/it-tools/app/helmrelease.yaml
  cluster/apps/productivity/it-tools/app/kustomization.yaml
  cluster/apps/productivity/it-tools/app/ocirepository.yaml
  cluster/apps/productivity/it-tools/ks.yaml
  cluster/apps/productivity/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: use s3 storage for opencloud
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud s3 host
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: use internal minio endpoint for opencloud
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update qb route
  cluster/apps/media/qbittorrent/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Revert "fix(container): update image ghcr.io/home-operations/k8s-sidecar to v1.30.11"
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: add decomposed bucket to opencloud
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud storage config
  cluster/apps/data/opencloud/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update opencloud config
  cluster/apps/data/opencloud/app/resources/csp.yaml
Labels: area/cluster, cluster/apps

feat: add manyfold skaffold
  cluster/apps/default/manyfold/app/config-pvc.yaml
  cluster/apps/default/manyfold/app/helmrelease.yaml
  cluster/apps/default/manyfold/app/kustomization.yaml
  cluster/apps/default/manyfold/app/ocirepository.yaml
  cluster/apps/default/manyfold/app/secret.yaml
  cluster/apps/default/manyfold/ks.yaml
Labels: area/cluster, cluster/apps

feat: try soulsync
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/soulsync/app/helmrelease.yaml
  cluster/apps/media/soulsync/app/kustomization.yaml
  cluster/apps/media/soulsync/app/pvc.yaml
  cluster/apps/media/soulsync/ks.yaml
Labels: area/cluster, cluster/apps

chore: update soulsync hr
  cluster/apps/media/soulsync/ks.yaml
Labels: area/cluster, cluster/apps

feat: add audiobookshelf
  cluster/apps/media/audiobookshelf/app/config-pvc.yaml
  cluster/apps/media/audiobookshelf/app/helmrelease.yaml
  cluster/apps/media/audiobookshelf/app/kustomization.yaml
  cluster/apps/media/audiobookshelf/app/ocirepository.yaml
  cluster/apps/media/audiobookshelf/ks.yaml
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update soulsync kustomization
  cluster/apps/media/soulsync/ks.yaml
Labels: area/cluster, cluster/apps

chore: fix soulsync template name
  cluster/apps/media/soulsync/ks.yaml
Labels: area/cluster, cluster/apps

chore: fix audiobookshelf port
  cluster/apps/media/audiobookshelf/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: fix soulsync file name
  cluster/apps/media/soulsync/app/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: fix soulsync mounts
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update soulsync persistence mount name
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update soulsync hr strategy
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: use soulsync config.json
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: use a different soulsync config path
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: soulsync db mount
  cluster/apps/media/soulsync/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Labels: none

docs: expand README with service architecture diagrams
  README.md
Labels: none

feat: add divedb
  cluster/apps/default/divedb/app/helmrelease.yaml
  cluster/apps/default/divedb/app/kustomization.yaml
  cluster/apps/default/divedb/app/secret.yaml
  cluster/apps/default/divedb/ks.yaml
Labels: area/cluster, cluster/apps

chore: use divedb image tag
  cluster/apps/default/divedb/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add blackbox exporter
  cluster/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  cluster/apps/monitoring/blackbox-exporter/app/kustomization.yaml
  cluster/apps/monitoring/blackbox-exporter/app/ocirepository.yaml
  cluster/apps/monitoring/blackbox-exporter/app/probes.yaml
  cluster/apps/monitoring/blackbox-exporter/ks.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster, cluster/apps

feat: add headlamp
  cluster/apps/default/headlamp/app/helmrelease.yaml
  cluster/apps/default/headlamp/app/httproute.yaml
  cluster/apps/default/headlamp/app/kustomization.yaml
  cluster/apps/default/headlamp/app/ocirepository.yaml
  cluster/apps/default/headlamp/app/rbac.yaml
  cluster/apps/default/headlamp/ks.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update headlamp pvc
  cluster/apps/default/headlamp/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update headlamp oidc config
  cluster/apps/default/headlamp/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

enable cilium l2 announcements
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps
