Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*

rest of media apps to gateway api
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/readarr/app/helm-release.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/app/config-pvc.yaml
  cluster/apps/media/sonarr/app/helm-release.yaml
  cluster/apps/media/sonarr/app/kustomization.yaml
  cluster/apps/media/sonarr/app/secret.yaml
  cluster/apps/media/sonarr/ks.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Archive wallabag
  .archive/cluster/apps/productivity/wallabag/app/helmrelease.yaml
  .archive/cluster/apps/productivity/wallabag/app/kustomization.yaml
  .archive/cluster/apps/productivity/wallabag/app/pvc.yaml
  .archive/cluster/apps/productivity/wallabag/app/secret.yaml
  .archive/cluster/apps/productivity/wallabag/ks.yaml
Labels: none

Migrate gatus
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/gatus/app/kustomization.yaml
  cluster/apps/monitoring/gatus/app/rbac.yaml
  cluster/apps/monitoring/gatus/app/resources/config.yaml
Labels: area/cluster, cluster/apps

feat: add unifi-dns
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/unifi-dns/app/helmrelease.yaml
  cluster/apps/networking/unifi-dns/app/kustomization.yaml
  cluster/apps/networking/unifi-dns/ks.yaml
Labels: area/cluster, cluster/apps

Remove references to disabled resources
  cluster/apps/default/kustomization.yaml
  cluster/apps/productivity/kustomization.yaml
Labels: area/cluster, cluster/apps

Update unifi-dns oci reference
  cluster/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update unifi-dns namespace
  cluster/apps/networking/unifi-dns/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Use ip for unifi-dns
  cluster/apps/networking/unifi-dns/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Networking ns migration to routes
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/cloudflare-dns/app/dnsendpoint-crd.yaml
  cluster/apps/networking/cloudflare-dns/app/helmrelease.yaml
  cluster/apps/networking/cloudflare-dns/app/kustomization.yaml
  cluster/apps/networking/cloudflare-dns/ks.yaml
  cluster/apps/networking/cloudflared/app/resources/config.yaml
  cluster/apps/networking/echo-server/app/helm-release.yaml
  cluster/apps/networking/echo/app/helm-release.yaml
  cluster/apps/networking/echo/app/kustomization.yaml
  cluster/apps/networking/echo/ks.yaml
  cluster/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
  cluster/apps/networking/external-dns/app/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster, cluster/apps

Productivity apps migrate to httproute
  cluster/apps/productivity/atuin/app/helmrelease.yaml
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
  cluster/apps/productivity/mealie/app/helmrelease.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
  cluster/apps/productivity/paperless/ks.yaml
  cluster/apps/productivity/paperless/redis/helmrelease.yaml
  cluster/apps/productivity/paperless/redis/kustomization.yaml
  cluster/apps/productivity/radicale/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update security with http route
  cluster/apps/security/authentik/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Archive data redis
  .archive/cluster/apps/data/redis-server/helm-release.yaml
  .archive/cluster/apps/data/redis-server/kustomization.yaml
  .archive/cluster/apps/data/redis/app/helm-release.yaml
  .archive/cluster/apps/data/redis/app/kustomization.yaml
  .archive/cluster/apps/data/redis/ks.yaml
  .archive/cluster/apps/data/redis/lb/config/haproxy.cfg
  .archive/cluster/apps/data/redis/lb/helmrelease.yaml
  .archive/cluster/apps/data/redis/lb/kustomization.yaml
  .archive/cluster/apps/data/redis/lb/patches/kustomizeconfig.yaml
  cluster/apps/data/kustomization.yaml
Labels: area/cluster, cluster/apps

Update data ns
  cluster/apps/data/dragonfly/app/helmrelease.yaml
  cluster/apps/data/dragonfly/cluster/cluster.yaml
  cluster/apps/data/influxdb/app/helm-release.yaml
  cluster/apps/data/influxdb/app/influxdb-pvc.yaml
  cluster/apps/data/influxdb/app/kustomization.yaml
  cluster/apps/data/influxdb/ks.yaml
  cluster/apps/data/kustomization.yaml
  cluster/apps/data/mariadb/app/helm-release.yaml
  cluster/apps/data/mariadb/app/kustomization.yaml
  cluster/apps/data/mariadb/app/pvc.yaml
  cluster/apps/data/mariadb/ks.yaml
Labels: area/cluster, cluster/apps

Migrate default ns to httproute
  .archive/cluster/apps/default/ssh/deployment.yaml
  .archive/cluster/apps/default/ssh/host-key.yaml
  .archive/cluster/apps/default/ssh/kustomization.yaml
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/default/homepage/app/helm-release.yaml
  cluster/apps/default/homepage/app/kustomization.yaml
  cluster/apps/default/homepage/app/rbac.yaml
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/default/minio/app/helm-release.yaml
  cluster/apps/default/minio/app/kustomization.yaml
  cluster/apps/default/minio/app/minio-pvc.yaml
  cluster/apps/default/minio/helm-release.yaml
  cluster/apps/default/minio/ks.yaml
  cluster/apps/default/minio/kustomization.yaml
  cluster/apps/default/pvc/kustomization.yaml
Labels: area/cluster, cluster/apps

Migrate home ns to httproute
  .archive/cluster/apps/home/homebridge/config-pvc.yaml
  .archive/cluster/apps/home/homebridge/helm-release.yaml
  .archive/cluster/apps/home/homebridge/kustomization.yaml
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/frigate/app/config-pvc.yaml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/frigate/app/kustomization.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/home-assistant/code/helmrelease.yaml
  cluster/apps/home/home-assistant/code/kustomization.yaml
  cluster/apps/home/home-assistant/ks.yaml
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Random app migration to httproute
  cluster/apps/data/influxdb/app/helm-release.yaml
  cluster/apps/data/influxdb/app/httproute.yaml
  cluster/apps/data/influxdb/app/kustomization.yaml
  cluster/apps/media/immich/app/machine-learning/helmrelease.yaml
  cluster/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  cluster/apps/monitoring/kubernetes-dashboard/app/httproute.yaml
  cluster/apps/monitoring/kubernetes-dashboard/app/kustomization.yaml
  cluster/apps/monitoring/unpoller/app/helmrelease.yaml
  cluster/apps/productivity/actual/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Rest of main apps to httproute
  cluster/apps/media/nextcloud/app/helm-release.yaml
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/core/longhorn-system/httproute.yaml
  cluster/core/longhorn-system/kustomization.yaml
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster, cluster/apps

Drop thanos
  .archive/cluster/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  .archive/cluster/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  .archive/cluster/apps/monitoring/kube-state-metrics/ks.yaml
  .archive/cluster/apps/monitoring/thanos/app/helm-release.yaml
  .archive/cluster/apps/monitoring/thanos/app/kustomization.yaml
  .archive/cluster/apps/monitoring/thanos/app/thanos-objstore.yaml
  .archive/cluster/apps/monitoring/thanos/ks.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster, cluster/apps

Remove nginx external dns name
  cluster/apps/networking/nginx/external/helmrelease.yaml
Labels: area/cluster, cluster/apps

Unblock some deployments
  cluster/apps/media/immich/app/machine-learning/helmrelease.yaml
  cluster/apps/monitoring/kubernetes-dashboard/app/httproute.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/core/longhorn-system/httproute.yaml
Labels: area/cluster, cluster/apps

Fix more deployments
  cluster/apps/default/minio/app/kustomization.yaml
  cluster/apps/monitoring/kubernetes-dashboard/ks.yaml
  cluster/apps/networking/cloudflare-dns/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Fix more deployments
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/media/qbittorrent/app/helm-release.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Fix minio pvc mount path
  cluster/apps/default/minio/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update minio deployment again
  cluster/apps/default/minio/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Bump minio security context
  cluster/apps/default/minio/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update minio path again
  cluster/apps/default/minio/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Remove blocked routes from nextcloud
  cluster/apps/media/nextcloud/app/httproute.yaml
Labels: area/cluster, cluster/apps

Update wyze routes
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update wyze and frigate config path
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/ks.yaml
Labels: area/cluster, cluster/apps

Update frigate image
  cluster/apps/home/frigate/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update wyze key
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

Update karakeep topology constraints
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update wyze route
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update karakeep httproute
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Fix homepage deployment
  cluster/apps/default/homepage/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Rename homepage kustomization
  cluster/apps/default/homepage/ks.yaml
Labels: area/cluster, cluster/apps

feat: ignore archive
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

Drop security context from prometheus
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Add initial harbor configuration
  cluster/apps/data/harbor/app/config-pvc.yaml
  cluster/apps/data/harbor/app/helm-release.yaml
  cluster/apps/data/harbor/app/kustomization.yaml
  cluster/apps/data/harbor/app/secret.yaml
  cluster/apps/data/harbor/ks.yaml
  cluster/base/flux-system/charts/helm/harbor.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster, cluster/apps

Deploy harbor
  cluster/apps/data/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps
