Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

Rename actual http route
  cluster/apps/productivity/actual/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update actual budget helm repository
  cluster/apps/productivity/actual/app/helmrelease.yaml
  cluster/base/flux-system/charts/helm/bjw-s-labs.yaml
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster, cluster/apps

Update bjws-labs repo name
  cluster/base/flux-system/charts/helm/bjw-s-labs.yaml
Labels: area/cluster

Update cilium gateway config
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

Update cilium yet again
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

Disable cilium hubble
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

Disable cilium UI
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

More cilium updates
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

Disable cilium bandwith manager
  cluster/apps/kube-system/cilium/app/values.yaml
Labels: area/cluster, cluster/apps

Revert "fix(helm): update chart cilium to 1.17.6"
  cluster/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Revert flux ocirepo version
  cluster/base/flux-system/flux.yaml
Labels: area/cluster

Remove cilium operator telerations
  cluster/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Disable rolling update for linkwarden
  cluster/apps/productivity/linkwarden/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Increase linkwarden memory limit
  cluster/apps/productivity/linkwarden/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Disable VPA
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/monitoring/vpa/app/helmrelease.yaml
  cluster/apps/monitoring/vpa/app/kustomization.yaml
  cluster/apps/monitoring/vpa/ks.yaml
Labels: area/cluster, cluster/apps

Remove goldilocks
  cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
  cluster/apps/monitoring/goldilocks/app/kustomization.yaml
  cluster/apps/monitoring/goldilocks/ks.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster, cluster/apps

Vibe code minor app-template version bumps
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/monitoring/unpoller/app/helmrelease.yaml
  cluster/apps/productivity/atuin/app/helmrelease.yaml
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
  cluster/apps/productivity/linkding/app/helmrelease.yaml
  cluster/apps/productivity/linkwarden/app/helmrelease.yaml
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
  cluster/apps/productivity/mealie/app/helmrelease.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
  cluster/apps/productivity/radicale/app/helmrelease.yaml
  cluster/apps/productivity/stirling-pdf/app/helmrelease.yaml
  cluster/apps/productivity/wallabag/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Vibe code app-template upgrade
  cluster/apps/data/dragonfly/app/helmrelease.yaml
  cluster/apps/data/redis-server/helm-release.yaml
  cluster/apps/data/redis/lb/helmrelease.yaml
  cluster/apps/default/ghost/app/helm-release.yaml
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/default/glance/app/helm-release.yaml
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/default/minio/helm-release.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/home-assistant/code/helmrelease.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/immich/app/machine-learning/helmrelease.yaml
  cluster/apps/media/immich/app/proxy/helmrelease.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/piped/app/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/readarr/app/helm-release.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/unpoller/app/helmrelease.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Revert "Vibe code app-template upgrade"
  cluster/apps/data/dragonfly/app/helmrelease.yaml
  cluster/apps/data/redis-server/helm-release.yaml
  cluster/apps/data/redis/lb/helmrelease.yaml
  cluster/apps/default/ghost/app/helm-release.yaml
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/default/glance/app/helm-release.yaml
  cluster/apps/default/miniflux/app/helmrelease.yaml
  cluster/apps/default/minio/helm-release.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/home-assistant/code/helmrelease.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/immich/app/machine-learning/helmrelease.yaml
  cluster/apps/media/immich/app/proxy/helmrelease.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/piped/app/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/readarr/app/helm-release.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/unpoller/app/helmrelease.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Try app-template 3.7.3 upgrade
  .archive/cluster/apps/media/lidarr/app/helm-release.yaml
  .archive/cluster/apps/media/photoprism/helm-release.yaml
  .archive/cluster/apps/media/tdarr/helm-release.yaml
  cluster/apps/data/influxdb/helm-release.yaml
  cluster/apps/data/mariadb/helm-release.yaml
  cluster/apps/data/redis-server/helm-release.yaml
  cluster/apps/default/ghost/app/helm-release.yaml
  cluster/apps/default/minio/helm-release.yaml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/piped/app/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/readarr/app/helm-release.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/echo-server/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Revert "Try app-template 3.7.3 upgrade"
  .archive/cluster/apps/media/lidarr/app/helm-release.yaml
  .archive/cluster/apps/media/photoprism/helm-release.yaml
  .archive/cluster/apps/media/tdarr/helm-release.yaml
  cluster/apps/data/influxdb/helm-release.yaml
  cluster/apps/data/mariadb/helm-release.yaml
  cluster/apps/data/redis-server/helm-release.yaml
  cluster/apps/default/ghost/app/helm-release.yaml
  cluster/apps/default/minio/helm-release.yaml
  cluster/apps/home/frigate/app/helm-release.yaml
  cluster/apps/home/mosquitto/app/helm-release.yaml
  cluster/apps/home/wyze-bridge/app/helm-release.yaml
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/piped/app/helm-release.yaml
  cluster/apps/media/plex/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/readarr/app/helm-release.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/networking/adguard/helm-release.yaml
  cluster/apps/networking/echo-server/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Add oci app-template repository
  cluster/base/flux-system/charts/kustomization.yaml
  cluster/base/flux-system/charts/oci/app-template.yaml
  cluster/base/flux-system/charts/oci/kustomization.yaml
Labels: area/cluster

Add namespace to app-template oci
  cluster/base/flux-system/charts/oci/app-template.yaml
Labels: area/cluster

Revert "Vibe code minor app-template version bumps"
  cluster/apps/default/ghostfolio/app/helmrelease.yaml
  cluster/apps/home/esphome/app/helmrelease.yaml
  cluster/apps/home/home-assistant/app/helmrelease.yaml
  cluster/apps/home/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/monitoring/unpoller/app/helmrelease.yaml
  cluster/apps/productivity/atuin/app/helmrelease.yaml
  cluster/apps/productivity/karakeep/app/helmrelease.yaml
  cluster/apps/productivity/linkding/app/helmrelease.yaml
  cluster/apps/productivity/linkwarden/app/helmrelease.yaml
  cluster/apps/productivity/lubelog/app/helmrelease.yaml
  cluster/apps/productivity/mealie/app/helmrelease.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
  cluster/apps/productivity/radicale/app/helmrelease.yaml
  cluster/apps/productivity/stirling-pdf/app/helmrelease.yaml
  cluster/apps/productivity/wallabag/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update glance to 4.2.0 app template
  cluster/apps/default/glance/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Add namespace to glance chart ref
  cluster/apps/default/glance/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Ghost app-template upgrade
  cluster/apps/default/ghost/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Fix ghost port anchor
  cluster/apps/default/ghost/app/helm-release.yaml
Labels: area/cluster, cluster/apps

temp rename ghost hostname
  cluster/apps/default/ghost/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Upgrade bazarr app-template
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/bazarr/app/kustomization.yaml
  cluster/apps/media/bazarr/app/patches/kustomizeconfig.yaml
  cluster/apps/media/bazarr/app/scripts/post-process.sh
Labels: area/cluster, cluster/apps

Update bazarr labels
  cluster/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster, cluster/apps

fix bazarr hostname
  cluster/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update stirling app-template
  cluster/apps/productivity/stirling-pdf/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update stirling pdf persistence
  cluster/apps/productivity/stirling-pdf/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Deprecate some apps
  .archive/cluster/apps/default/hajimari/config-pvc.yaml
  .archive/cluster/apps/default/hajimari/helm-release.yaml
  .archive/cluster/apps/default/hajimari/kustomization.yaml
  .archive/cluster/apps/default/vault/helm-release.yaml
  .archive/cluster/apps/default/vault/kustomization.yaml
  .archive/cluster/apps/networking/blocky/helm-release.yaml
  .archive/cluster/apps/networking/blocky/kustomization.yaml
  .archive/cluster/apps/networking/blocky/whitelist.txt
  .archive/cluster/apps/productivity/linkding/app/helmrelease.yaml
  .archive/cluster/apps/productivity/linkding/app/kustomization.yaml
  .archive/cluster/apps/productivity/linkding/app/pvc.yaml
  .archive/cluster/apps/productivity/linkding/app/secret.yaml
  .archive/cluster/apps/productivity/linkding/ks.yaml
  .archive/cluster/apps/productivity/linkwarden/app/helmrelease.yaml
  .archive/cluster/apps/productivity/linkwarden/app/kustomization.yaml
  .archive/cluster/apps/productivity/linkwarden/app/pvc.yaml
  .archive/cluster/apps/productivity/linkwarden/app/secret.yaml
  .archive/cluster/apps/productivity/linkwarden/ks.yaml
  .archive/cluster/apps/productivity/monica/config-pvc.yaml
  .archive/cluster/apps/productivity/monica/helm-release.yaml
  .archive/cluster/apps/productivity/monica/kustomization.yaml
Labels: none

Upgrade immich
  cluster/apps/media/immich/app/machine-learning/helmrelease.yaml
  cluster/apps/media/immich/app/proxy/helmrelease.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
Labels: area/cluster, cluster/apps

Restructure nextcloud
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/nextcloud/app/config-pvc.yaml
  cluster/apps/media/nextcloud/app/helm-release.yaml
  cluster/apps/media/nextcloud/app/httproute.yaml
  cluster/apps/media/nextcloud/app/kustomization.yaml
  cluster/apps/media/nextcloud/helm-release.yaml
  cluster/apps/media/nextcloud/ks.yaml
Labels: area/cluster, cluster/apps

Migrate overseerr and piped to routes
  cluster/apps/media/overseerr/app/helm-release.yaml
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Migrate plex to httproute
  cluster/apps/media/plex/app/helm-release.yaml
Labels: area/cluster, cluster/apps

jellyfin, prowlarr, qb and radarr to gateway api
  cluster/apps/media/jellyfin/app/config-pvc.yaml
  cluster/apps/media/jellyfin/app/helm-release.yaml
  cluster/apps/media/jellyfin/app/kustomization.yaml
  cluster/apps/media/jellyfin/ks.yaml
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/qbittorrent/app/config-pvc.yaml
  cluster/apps/media/qbittorrent/app/helm-release.yaml
  cluster/apps/media/qbittorrent/app/kustomization.yaml
  cluster/apps/media/qbittorrent/ks.yaml
  cluster/apps/media/radarr/app/config-pvc.yaml
  cluster/apps/media/radarr/app/helm-release.yaml
  cluster/apps/media/radarr/app/kustomization.yaml
  cluster/apps/media/radarr/app/secret.yaml
  cluster/apps/media/radarr/ks.yaml
Labels: area/cluster, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*
