Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*

chore: update mariadb image
  cluster/apps/data/mariadb/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Revert "feat(container)!: Update image ghcr.io/home-operations/k8s-sidecar to v2"
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add affine
  cluster/apps/productivity/affine/app/helmrelease.yaml
  cluster/apps/productivity/affine/app/kustomization.yaml
  cluster/apps/productivity/affine/app/pvc.yaml
  cluster/apps/productivity/affine/app/secret.yaml
  cluster/apps/productivity/affine/ks.yaml
  cluster/apps/productivity/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: prepare divedb for oidc
  cluster/apps/default/divedb/app/helmrelease.yaml
  cluster/apps/default/divedb/app/secret.yaml
Labels: area/cluster, cluster/apps

chore: set divedb secrets
  cluster/apps/default/divedb/app/secret.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

feat: enable divedb
  cluster/apps/default/kustomization.yaml
Labels: area/cluster, cluster/apps

feat: enable headlamp
  cluster/apps/default/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

feat: enable manyfold
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/manyfold/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: add manyfold pg secrets
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

chore: fix headlamp oci url
  cluster/apps/default/headlamp/app/ocirepository.yaml
Labels: area/cluster, cluster/apps

chore: cleanup headlamp duplicate definition
  cluster/apps/default/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update blackbox exporter dependency
  cluster/apps/monitoring/blackbox-exporter/ks.yaml
Labels: area/cluster, cluster/apps

feat: enable affine
  cluster/apps/productivity/affine/app/secret.yaml
  cluster/apps/productivity/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: update manyfold oci ns
  cluster/apps/default/manyfold/app/helmrelease.yaml
  cluster/apps/default/manyfold/app/ocirepository.yaml
Labels: area/cluster, cluster/apps

chore: update manyfold config
  cluster/apps/default/manyfold/app/secret.yaml
Labels: area/cluster, cluster/apps

chore: update affine pod permissions
  cluster/apps/productivity/affine/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: add secret key to manyfold
  cluster/apps/default/manyfold/app/helmrelease.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: update manyfold config
  cluster/apps/default/manyfold/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: disable readarr
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: move readarr files
  .archive/cluster/apps/media/readarr/app/config-pvc.yaml
  .archive/cluster/apps/media/readarr/app/helm-release.yaml
  .archive/cluster/apps/media/readarr/app/kustomization.yaml
  .archive/cluster/apps/media/readarr/app/secret.yaml
  .archive/cluster/apps/media/readarr/ks.yaml
Labels: none

chore: drop security context from manyfold
  cluster/apps/default/manyfold/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: increase manyfold probe retries
  cluster/apps/default/manyfold/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update headlamp sa
  cluster/apps/default/headlamp/app/rbac.yaml
  cluster/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
  cluster/apps/monitoring/blackbox-exporter/app/ocirepository.yaml
Labels: area/cluster, cluster/apps

chore: fix blackbox oci typo
  cluster/apps/monitoring/blackbox-exporter/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: up headlamp init plugins permissions
  cluster/apps/default/headlamp/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: add missing blackbox oci repo
  cluster/apps/monitoring/blackbox-exporter/app/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: use write many pvc for headlamp
  cluster/apps/default/headlamp/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: use oidc in divedb
  cluster/apps/default/divedb/app/helmrelease.yaml
  cluster/apps/default/divedb/app/secret.yaml
Labels: area/cluster, cluster/apps

chore: bump affine version
  cluster/apps/productivity/affine/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add dispatcharr
  cluster/apps/media/dispatcharr/app/helmrelease.yaml
  cluster/apps/media/dispatcharr/app/kustomization.yaml
  cluster/apps/media/dispatcharr/app/secret.yaml
  cluster/apps/media/dispatcharr/ks.yaml
  cluster/apps/media/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: exclude data ns images from harbor
  cluster/apps/data/harbor/mutating-webhook/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: add gpu to dispatcharr
  cluster/apps/media/dispatcharr/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add outline
  cluster/apps/productivity/kustomization.yaml
  cluster/apps/productivity/outline/app/helmrelease.yaml
  cluster/apps/productivity/outline/app/kustomization.yaml
  cluster/apps/productivity/outline/app/secret.yaml
  cluster/apps/productivity/outline/ks.yaml
Labels: area/cluster, cluster/apps

feat: add appflowy
  cluster/apps/productivity/appflowy/app/helmrelease.yaml
  cluster/apps/productivity/appflowy/app/kustomization.yaml
  cluster/apps/productivity/appflowy/app/secret.yaml
  cluster/apps/productivity/appflowy/ks.yaml
  cluster/apps/productivity/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update outline oidc config
  cluster/apps/productivity/outline/app/secret.yaml
Labels: area/cluster, cluster/apps

feat: enable outline
  cluster/apps/productivity/kustomization.yaml
  cluster/apps/productivity/outline/app/secret.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

feat: add iframely to outline
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update outline references
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update outline deployment
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update outline backend refs
  cluster/apps/productivity/outline/app/helmrelease.yaml
Labels: area/cluster, cluster/apps
