Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*

chore: disable drift detection for tvheadend
  cluster/apps/media/tvheadend/app/helm-release.yaml
Labels: area/cluster, cluster/apps

feat: add trmnl
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/trmnl/app/helmrelease.yaml
  cluster/apps/home/trmnl/app/kustomization.yaml
  cluster/apps/home/trmnl/app/secret.yaml
  cluster/apps/home/trmnl/ks.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

chore: refactor openebs
  cluster/core/openebs-system/app/helmrelease.yaml
  cluster/core/openebs-system/app/kustomization.yaml
  cluster/core/openebs-system/app/ocirepository.yaml
  cluster/core/openebs-system/ks.yaml
  cluster/core/openebs-system/kustomization.yaml
Labels: area/cluster

chore: use privileged mode for tvheadend
  cluster/apps/media/tvheadend/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update tvheadend mounts
  cluster/apps/media/tvheadend/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: replace trmnl redis url with keyvalue
  cluster/apps/home/trmnl/app/secret.yaml
Labels: area/cluster, cluster/apps

chore: update trmnl security context
  cluster/apps/home/trmnl/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

update
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

finish merge
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

chore: disable piped update subscriptions job
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update action runner controller ns
  cluster/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/cluster, cluster/apps

chore: update kustomization structure for openebs and action-runner-system
  cluster/apps/actions-runner-system/kustomization.yaml
  cluster/apps/kustomization.yaml
  cluster/core/kustomization.yaml
  cluster/core/openebs-system/ks.yaml
  cluster/core/openebs-system/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: scope action-runner to a single repo
  cluster/apps/actions-runner-system/actions-runner-controller/runners/k8s-gitops/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add flux-local
  .github/workflows/flux-local.yaml
  .taskfiles/flux-local.yml
  Taskfile.yml
Labels: area/github, area/taskfile

chore: fix flux-local
  .github/workflows/flux-local.yaml
  .taskfiles/flux-local.yml
  cluster/apps/kube-system/cilium/app/crds.yaml
  cluster/apps/media/prowlarr/app/secret.yaml
  cluster/apps/media/radarr/app/secret.yaml
  cluster/apps/media/sonarr/app/secret.yaml
Labels: area/github, area/cluster, area/taskfile, cluster/apps

feat: use openebs for pg cluster
  cluster/apps/data/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster, cluster/apps

feat: drop local path provisioner
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  cluster/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  cluster/apps/kube-system/local-path-provisioner/ks.yaml
  cluster/base/flux-system/charts/git/kustomization.yaml
  cluster/base/flux-system/charts/git/local-path-provisioner.yaml
Labels: area/cluster, cluster/apps

chore: update multus helm
  cluster/apps/networking/multus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: bump multus image
  cluster/apps/networking/multus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: try different multus config
  cluster/apps/networking/multus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: try multus again
  cluster/apps/networking/multus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: final multus try
  cluster/apps/networking/multus/app/helmrelease.yaml
  cluster/apps/networking/multus/app/kustomization.yaml
  cluster/apps/networking/multus/app/ocirepository.yaml
Labels: area/cluster, cluster/apps

chore: add rbac for multus
  cluster/apps/networking/multus/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update paperless ocr languages
  cluster/apps/productivity/paperless/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: allow renovate to pick up coder releases
  cluster/apps/coder/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: bump coder image version
  cluster/apps/coder/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: migrate to flux v2.6 stable apis
  cluster/apps/cert-manager/ks.yaml
  cluster/apps/monitoring/kubernetes-dashboard/ks.yaml
  cluster/base/apps.yaml
Labels: area/cluster, cluster/apps

feat: migrate flux to operator
  cluster/apps/flux-system/flux-instance/app/helmrelease.yaml
  cluster/apps/flux-system/flux-instance/app/httproute.yaml
  cluster/apps/flux-system/flux-instance/app/kustomization.yaml
  cluster/apps/flux-system/flux-instance/app/ocirepository.yaml
  cluster/apps/flux-system/flux-instance/app/receiver.yaml
  cluster/apps/flux-system/flux-instance/app/secret.yaml
  cluster/apps/flux-system/flux-instance/ks.yaml
  cluster/apps/flux-system/flux-operator/app/helmrelease.yaml
  cluster/apps/flux-system/flux-operator/app/httproute.yaml
  cluster/apps/flux-system/flux-operator/app/kustomization.yaml
  cluster/apps/flux-system/flux-operator/app/ocirepository.yaml
  cluster/apps/flux-system/flux-operator/ks.yaml
  cluster/apps/flux-system/kustomization.yaml
  cluster/apps/flux-system/namespace.yaml
  cluster/apps/kustomization.yaml
Labels: area/cluster, cluster/apps

use internal httproute
  cluster/apps/flux-system/flux-operator/app/httproute.yaml
Labels: area/cluster, cluster/apps

bump flux version
  cluster/apps/flux-system/flux-instance/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

bump flux operator version
  cluster/apps/flux-system/flux-operator/app/ocirepository.yaml
Labels: area/cluster, cluster/apps

feat: add sweet home 3d
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
  cluster/apps/default/sweethome3d/app/kustomization.yaml
  cluster/apps/default/sweethome3d/ks.yaml
Labels: area/cluster, cluster/apps

chore: drop sweethome3d permissions
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: fix sweet url
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: update sweet home 3d pvc
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: add home3d php container
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: separate home 3d php
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/sweethome3d-php/app/helmrelease.yaml
  cluster/apps/default/sweethome3d-php/app/kustomization.yaml
  cluster/apps/default/sweethome3d-php/ks.yaml
  cluster/apps/default/sweethome3d/app/pvc.yaml
Labels: area/cluster, cluster/apps

chore: fix sweethome3d dep
  cluster/apps/default/sweethome3d-php/ks.yaml
Labels: area/cluster, cluster/apps

chore: update home 3d
  cluster/apps/default/sweethome3d-php/app/helmrelease.yaml
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

chore: drop home3d js
  cluster/apps/default/kustomization.yaml
  cluster/apps/default/sweethome3d-php/app/helmrelease.yaml
  cluster/apps/default/sweethome3d-php/app/kustomization.yaml
  cluster/apps/default/sweethome3d-php/ks.yaml
  cluster/apps/default/sweethome3d/app/helmrelease.yaml
  cluster/apps/default/sweethome3d/ks.yaml
Labels: area/cluster, cluster/apps
