Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

Update renovate configuration option
  .github/renovate.json5
Labels: area/github

Deprecate immich web
  cluster/apps/media/immich/app/kustomization.yaml
  cluster/apps/media/immich/app/server/helmrelease.yaml
  cluster/apps/media/immich/app/web/helmrelease.yaml
  cluster/apps/media/immich/app/web/kustomization.yaml
Labels: area/cluster, cluster/apps

Update immich ingress
  cluster/apps/media/immich/app/server/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update tautulli config
  cluster/apps/media/tautulli/app/config-pvc.yaml
  cluster/apps/media/tautulli/app/helm-release.yaml
  cluster/apps/media/tautulli/app/kustomization.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/media/tautulli/ks.yaml
Labels: area/cluster, cluster/apps

Update kustomization path for tautulli
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

Update cert manager config
  cluster/apps/cert-manager/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update cert manager issuers config
  cluster/apps/cert-manager/ks.yaml
Labels: area/cluster, cluster/apps

Update cert manager kustomization dependency
  cluster/apps/cert-manager/ks.yaml
Labels: area/cluster, cluster/apps

Update nginx config
  cluster/apps/networking/ingress-nginx/app/cloudflare-networks.txt
  cluster/apps/networking/ingress-nginx/app/helmrelease.yaml
  cluster/apps/networking/ingress-nginx/app/kustomization.yaml
  cluster/apps/networking/ingress-nginx/ks.yaml
Labels: area/cluster, cluster/apps

Update bazarr config
  cluster/apps/media/bazarr/app/config-pvc.yaml
  cluster/apps/media/bazarr/app/helm-release.yaml
  cluster/apps/media/bazarr/app/kustomization.yaml
  cluster/apps/media/bazarr/app/patches/kustomizeconfig.yaml
  cluster/apps/media/bazarr/app/scripts/post-process.sh
  cluster/apps/media/bazarr/app/secret.yaml
  cluster/apps/media/bazarr/helm-release.yaml
  cluster/apps/media/bazarr/ks.yaml
  cluster/apps/media/bazarr/kustomization.yaml
  cluster/apps/media/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Add a namespace to bazarr kustomize
  cluster/apps/media/bazarr/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Update bazarr pvc
  cluster/apps/media/bazarr/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update lidarr
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/lidarr/app/config-pvc.yaml
  cluster/apps/media/lidarr/app/helm-release.yaml
  cluster/apps/media/lidarr/app/kustomization.yaml
  cluster/apps/media/lidarr/app/secret.yaml
  cluster/apps/media/lidarr/helm-release.yaml
  cluster/apps/media/lidarr/ks.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Update lidarr secret
  cluster/apps/media/lidarr/app/secret.yaml
  cluster/apps/media/lidarr/ks.yaml
Labels: area/cluster, cluster/apps

chore(deps): upgrade flux components to v2.1.2
  cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Add external dns configuration
  cluster/apps/networking/cloudflared/app/dnsendpoint.yaml
  cluster/apps/networking/cloudflared/app/helmrelease.yaml
  cluster/apps/networking/cloudflared/app/kustomization.yaml
  cluster/apps/networking/cloudflared/app/resources/config.yaml
  cluster/apps/networking/cloudflared/app/secret.yaml
  cluster/apps/networking/cloudflared/ks.yaml
  cluster/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
  cluster/apps/networking/external-dns/app/cloudflare/kustomization.yaml
  cluster/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  cluster/apps/networking/external-dns/app/kustomization.yaml
  cluster/apps/networking/external-dns/ks.yaml
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/nginx/certificates/certificates.yaml
  cluster/apps/networking/nginx/certificates/kustomization.yaml
  cluster/apps/networking/nginx/external/helmrelease.yaml
  cluster/apps/networking/nginx/external/kustomization.yaml
  cluster/apps/networking/nginx/internal/helmrelease.yaml
  cluster/apps/networking/nginx/internal/kustomization.yaml
  cluster/apps/networking/nginx/ks.yaml
  cluster/base/cluster-secrets.sops.yaml
  cluster/base/cluster-settings.yaml
Labels: area/cluster, cluster/apps

Make echo-server external
  cluster/apps/networking/echo-server/app/helm-release.yaml
Labels: area/cluster, cluster/apps

Update nginx certificates path
  cluster/apps/networking/nginx/ks.yaml
Labels: area/cluster, cluster/apps

Update nginx cpu request
  cluster/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update cloudflared secret
  cluster/apps/networking/cloudflared/app/secret.yaml
Labels: area/cluster, cluster/apps

Update cluster secrets
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

Update external dns
  cluster/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update external dns env values
  cluster/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update dnsendpoint resource
  cluster/apps/networking/cloudflared/app/dnsendpoint.yaml
Labels: area/cluster, cluster/apps

Update grafana dashboards
  cluster/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Add gatus
  cluster/apps/monitoring/gatus/app/helmrelease.yaml
  cluster/apps/monitoring/gatus/app/kustomization.yaml
  cluster/apps/monitoring/gatus/app/rbac.yaml
  cluster/apps/monitoring/gatus/app/resources/config.yaml
  cluster/apps/monitoring/gatus/app/secret.yaml
  cluster/apps/monitoring/gatus/ks.yaml
  cluster/apps/monitoring/kustomization.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster, cluster/apps

Update gatus pg cluster dependency
  cluster/apps/monitoring/gatus/ks.yaml
Labels: area/cluster, cluster/apps

Fix gatus typo
  cluster/apps/monitoring/gatus/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Fix gatus secret
  cluster/apps/monitoring/gatus/app/secret.yaml
Labels: area/cluster, cluster/apps

Add prowlarr gatus config
  cluster/apps/media/prowlarr/app/config-pvc.yaml
  cluster/apps/media/prowlarr/app/helm-release.yaml
  cluster/apps/media/prowlarr/app/kustomization.yaml
  cluster/apps/media/prowlarr/app/secret.yaml
  cluster/apps/media/prowlarr/ks.yaml
  cluster/apps/monitoring/gatus/app/resources/config.yaml
  cluster/templates/gatus/guarded/configmap.yaml
Labels: area/cluster, cluster/apps

Update prowlarr path
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

Update prowlarr kustomization
  cluster/apps/media/prowlarr/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Testing prowlarr
  cluster/apps/media/prowlarr/ks.yaml
Labels: area/cluster, cluster/apps

Update prowlarr
  cluster/apps/media/prowlarr/app/kustomization.yaml
Labels: area/cluster, cluster/apps

Update prowlarr kustomization
  cluster/apps/media/prowlarr/ks.yaml
Labels: area/cluster, cluster/apps

Update prowlarr kustomization
  cluster/apps/media/prowlarr/ks.yaml
Labels: area/cluster, cluster/apps

Update prowlarr kustomization
  cluster/apps/media/prowlarr/ks.yaml
Labels: area/cluster, cluster/apps

Update prowlarr kustomization
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

Add tautulli gatus config
  cluster/apps/media/tautulli/app/kustomization.yaml
  cluster/apps/media/tautulli/ks.yaml
Labels: area/cluster, cluster/apps

Update flux configuration
  cluster/base/flux-system/cluster.yaml
  cluster/base/flux-system/flux.yaml
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*
