Repository salisk/k8s-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/taskfile, area/terraform, cluster/apps

Update longhorn image in harbor
  cluster/apps/data/harbor/mutating-webhook/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: drop immich ml cache pvc
  cluster/apps/media/immich/app/machine-learning/kustomization.yaml
  cluster/apps/media/immich/app/machine-learning/pvc.yaml
Labels: area/cluster, cluster/apps

Deprecate adguard
  .archive/cluster/apps/networking/adguard/config-pvc.yaml
  .archive/cluster/apps/networking/adguard/helm-release.yaml
  .archive/cluster/apps/networking/adguard/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster, cluster/apps

Update loki config
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Decrease loki retention period
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update loki retention period
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

feat: add opencloud
  cluster/apps/data/opencloud/app/helm-release.yaml
  cluster/apps/data/opencloud/app/kustomization.yaml
  cluster/apps/data/opencloud/app/nfs-opencloud.yaml
  cluster/apps/data/opencloud/app/resources/csp.yaml
  cluster/apps/data/opencloud/app/resources/kustomizeconfig.yaml
  cluster/apps/data/opencloud/app/resources/proxy.yaml
  cluster/apps/data/opencloud/ks.yaml
Labels: area/cluster, cluster/apps

feat: add slskd
  cluster/apps/media/slskd/app/config-pvc.yaml
  cluster/apps/media/slskd/app/helm-release.yaml
  cluster/apps/media/slskd/app/kustomization.yaml
  cluster/apps/media/slskd/app/ocirepository.yaml
  cluster/apps/media/slskd/ks.yaml
Labels: area/cluster, cluster/apps

Use s3 for loki
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update loki s3
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update loki storage config
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update longhorn config
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Prometheus update
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  cluster/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

disable node exporter
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Disable node export in prometheus stack
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update node exporter kustomization
  cluster/apps/monitoring/node-exporter/ks.yaml
Labels: area/cluster, cluster/apps

Update node export kustomization git repository
  cluster/apps/monitoring/node-exporter/ks.yaml
Labels: area/cluster, cluster/apps

Update echo server url and paperless auth
  cluster/apps/monitoring/gatus/app/resources/config.yaml
  cluster/apps/productivity/paperless/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Add internal gateway redirect
  cluster/apps/kube-system/cilium/gateway/gateway-internal.yaml
Labels: area/cluster, cluster/apps

Update paperless http route path
  cluster/apps/productivity/paperless/app/helmrelease.yaml
Labels: area/cluster, cluster/apps

Update piped gateway httproute
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update tautulli health check path
  cluster/apps/media/tautulli/ks.yaml
Labels: area/cluster, cluster/apps

update piped storage config
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

chore: update piped config again
  cluster/apps/media/piped/app/helm-release.yaml
Labels: area/cluster, cluster/apps

feat: add pinchflat
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/pinchflat/app/config-pvc.yaml
  cluster/apps/media/pinchflat/app/helmrelease.yaml
  cluster/apps/media/pinchflat/app/kustomization.yaml
  cluster/apps/media/pinchflat/app/ocirepository.yaml
  cluster/apps/media/pinchflat/ks.yaml
Labels: area/cluster, cluster/apps

chore: fix renovate ignore path
  .github/renovate.json5
Labels: area/github

feat: add flaresolverr
  cluster/apps/default/flaresolverr/app/helm-release.yaml
  cluster/apps/default/flaresolverr/app/kustomization.yaml
  cluster/apps/default/flaresolverr/ks.yaml
  cluster/apps/default/kustomization.yaml
Labels: area/cluster, cluster/apps

feat: add calibre
  cluster/apps/media/calibre/calibre-downloader/helm-release.yaml
  cluster/apps/media/calibre/calibre-downloader/kustomization.yaml
  cluster/apps/media/calibre/calibre-downloader/ocirepository.yaml
  cluster/apps/media/calibre/calibre-web-automated/config-pvc.yaml
  cluster/apps/media/calibre/calibre-web-automated/helm-release.yaml
  cluster/apps/media/calibre/calibre-web-automated/kustomization.yaml
  cluster/apps/media/calibre/calibre-web-automated/ocirepository.yaml
  cluster/apps/media/calibre/ks.yaml
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update flarewsolverr config
  cluster/apps/default/flaresolverr/ks.yaml
Labels: area/cluster, cluster/apps

chore: update flaresolverr namespace
  cluster/apps/default/flaresolverr/ks.yaml
Labels: area/cluster, cluster/apps

chore: update calibre namespace
  cluster/apps/media/calibre/ks.yaml
  cluster/apps/media/kustomization.yaml
Labels: area/cluster, cluster/apps

chore: update calibre controllers
  cluster/apps/media/calibre/calibre-downloader/helm-release.yaml
  cluster/apps/media/calibre/calibre-web-automated/helm-release.yaml
Labels: area/cluster, cluster/apps

Add slskd secrets
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

chore: update karakeep pvc
  cluster/apps/productivity/karakeep/app/pvc.yaml
Labels: area/cluster, cluster/apps

chore: update longhorn default replica count
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

revert longhorn upgrade
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

Upgrade longhorn
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

Update longhorn helm
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

Revert longhorn
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

try longhorn upgrade again
  cluster/core/longhorn-system/longhorn.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/cluster:
  - changed-files:
      - any-glob-to-any-file: cluster/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/apps:
  - changed-files:
      - any-glob-to-any-file: cluster/apps/**/*
